
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                     <!--    <h2>Testimonial</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/home/profile1.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                                <h3><a href="#">- Jhon Kalis</a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/home/profile2.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>
                                <h3><a href="">- Abraham Josef</a></h3>
                            </div>
                        </div>   
                -->     </div> 
                </div>
               
                               <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Register Here</h2>
                        <h4>{{message}}</h4>
                        <form id="main-contact-form" name="contact-form" >


                            <div class="form-group">
FullName      <input type="text"  name="userFullname" class="form-control" required="required" placeholder="userFullname" ng-model="userFullName"/>
                            </div>

<div class="form-group">
USERName      <input type="text"  name="username" class="form-control" required="required" placeholder="username" ng-model="username"/>
                            </div>
                            
                            
        <div class="form-group">
Phone     <input type="text"  name="userPhone" class="form-control" required="required" placeholder="userPhone" ng-model="userPhone"/>
                            </div>                    
                            

<div class="form-group">
Email     <input type="email"  name="userEmail" class="form-control" required="required" placeholder="userEmail" ng-model="userEmail"/>
                            </div>

                            <div class="form-group">
                     password           <input type="password"  name="password" class="form-control" required="required" placeholder="password" ng-model="password"/>
                            </div>
                         <!--    
                           <div class="form-group">
Role    <input type="text"  name="role" class="form-control" required="required" placeholder="role" ng-model="role"/>
                            </div> 
                          -->   
                            <div class="form-group">
                                <input type="submit" name="Register" class="btn btn-submit" ng-click="register()" >
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                   <!--      <p>&copy; Your Company 2014. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                   -->  </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->
